/* Imports */
@import url("https://rsms.me/inter/inter.css");

/* To all the page */
* {
  font-family: "Encode Sans SC", sans-serif;
}

/*Number Input right arrows*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Header classes */
.contacts__header {
  background-color: black;
  height: 75px;
  z-index: 2;
}
.contacts__header-icon_container {
  width: 1.5rem;
}
.contacts__header-title_container {
  justify-content: left !important;
}
.contacts__header-lightmode {
  font-size: 1.7rem;
  color: #ffbb00;
}
.contacts__header-lightmode:hover {
  cursor: pointer;
  color: white;
}
.contacts__header-darkmode {
  font-size: 1rem;
  color: #2a9d8f;
  padding-left: 0.25rem;
}
.contacts__header-darkmode:hover {
  cursor: pointer;
  color: white;
}

/* Navbar-menu classes */
.contacts__navbar-menu {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  text-align: left;
  position: absolute;
  right: 0;
  top: 40px;
  z-index: 1;
  color: white;
  background-color: rgb(50, 50, 50);
  background: linear-gradient(
    to right bottom,
    rgba(0, 0, 0, 0.7),
    rgba(50, 50, 50, 0.5)
  );
  backdrop-filter: blur(0.1rem);
  margin-top: -1.25rem;
  border-radius: 7.5% !important;
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5);
}

.contacts__navbar-menu_icons {
  cursor: pointer;
  z-index: 2;
  height: 24px;
  width: 24px;
}

.contacts__navbar-menu_container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 60px;
  margin-bottom: -13px;
}

.contacts__navbar-menu_placeholder {
  margin-top: 10px;
  transform-origin: 0 50%;
  transform: translate(10px, 10px);
  font-family: "Roboto Mono", monospace;
}

.contacts__navbar-menu_placeholder.expand {
  animation: MovePlaceholder 330ms both linear;
}

.contacts__navbar-menu_placeholder.return {
  animation: ReturnPlaceholder 330ms both linear;
}

.contacts__navbar-menu_input {
  background: transparent;
  border: 0;
  font-size: 20px;
  height: 30px;
  outline: none !important;
  position: absolute;
  top: 15px;
  width: 100%;
  color: #ffbb00;
}
.contacts__navbar-menu_input::placeholder {
  color: #ffbb00ab;
  font-size: 12px;
}
.contacts__navbar-menu_input-warning {
  position: absolute;
  text-align: center;
  font-size: 0.75rem;
  margin: 0;
  top: 50px;
  left: 3px;
}

/* Navbar-menu SVG (input) keyframes */
@keyframes MovePlaceholder {
  0% {
    transform: translateX(10px) translateY(10px) rotate(0);
  }
  60% {
    transform: translateX(4px) translateY(-8px) rotate(-18deg) scale(0.92);
  }
  100% {
    transform: translateX(4px) translateY(-12px) rotate(0deg) scale(0.65);
  }
}

@keyframes ReturnPlaceholder {
  0% {
    transform: translateX(4px) translateY(-12px) scale(0.65);
  }
  100% {
    transform: translateX(10px) translateY(10px);
  }
}

.contacts__navbar-menu_button {
  background: black;
  -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  -webkit-mask-size: 2300% 100%;
  mask-size: 2300% 100%;
  border: none;
  cursor: pointer;
  -webkit-animation: ani2 0.7s steps(22) forwards;
  animation: ani2 0.7s steps(22) forwards;
  width: 101%;
  height: 101%;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: normal;
  border: 1px solid #ffbb00;
  transform: scale(1.005, 1.005);
}

button.contacts__navbar-menu_button:hover {
  -webkit-animation: ani 0.7s steps(22) forwards;
  animation: ani 0.7s steps(22) forwards;
}

.contacts__navbar-menu_button-container {
  position: relative;
  overflow: hidden;
  transition: 0.5s;
}

.contacts__navbar-menu_button-animation {
  position: absolute;
  color: black;
  text-align: center;
  width: 100%;
  overflow: hidden;
  font-weight: normal;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 11px;
  letter-spacing: 1px;
  background-color: #ffbb00;
  border: 1px solid black;
  transform: scale(0.995, 0.985);
}

/* Navbar-menu button keyframes */
@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }

  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@-webkit-keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }

  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }

  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

/* Background classes */
.contacts__background {
  margin-top: -1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* Table classes */
.contacts__table {
  position: relative;
  padding: 1rem 2rem 0.5rem 2rem;
  border-radius: 2rem;
  backdrop-filter: blur(0.5rem);
  z-index: 1;
  text-align: center;
  font-family: "Encode Sans SC", sans-serif;
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5);
}
.btn:focus {
  box-shadow: none !important;
}
.contacts__table-data_pos {
  min-width: 1rem;
  width: 1rem;
  max-width: 1rem;
}
.contacts__table-data_ID {
  min-width: 6.5rem;
  width: 6.5rem;
  max-width: 6.5rem;
  padding-right: 0;
}
.contacts__table-data_name {
  min-width: 19.5rem;
  width: 19.5rem;
  max-width: 19.5rem;
  overflow-wrap: anywhere;
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.contacts__table-data_number {
  min-width: 15rem !important;
  width: 15rem !important;
  max-width: 15rem !important;
  overflow-wrap: anywhere;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.contacts__table-data_btns {
  min-width: 12rem;
  width: 12rem;
  max-width: 12rem;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.contacts__table-data_editable {
  text-align: center;
  border: none;
  border-radius: 0.5rem;
  width: 95%;
  max-width: 100%;
}
.contacts__table-data_editable:focus {
  outline: none;
}
.contacts__table-data_editable-warning {
  position: absolute;
  text-align: center;
  font-size: 0.75rem;
  margin: 0;
}
.contacts__table-deletebtn,
.contacts__table-updatebtn,
.contacts__table-wabtn,
.contacts__table-checkbtn {
  font-size: 1.25rem;
  padding: 0.1rem 0.5rem;
  margin: 0 0.25rem;
  border-radius: 50%;
}
.contacts__table-deletebtn:hover,
.contacts__table-updatebtn:hover,
.contacts__table-wabtn:hover,
.contacts__table-checkbtn:hover {
  color: wheat;
}
.contacts__table-circle1,
.contacts__table-circle2,
.contacts__table-circle3,
.contacts__table-circle4,
.contacts__table-circle5,
.contacts__table-circle6,
.contacts__table-circle7,
.contacts__table-circle8,
.contacts__table-circle9,
.contacts__table-circle10,
.contacts__table-circle11,
.contacts__table-circle12,
.contacts__table-circle13 {
  height: 12rem;
  width: 12rem;
  position: absolute;
  border-radius: 50%;
  z-index: 0;
}
.contacts__table-circle1 {
  top: 3%;
  right: 13%;
}
.contacts__table-circle2 {
  top: 40%;
  right: 30%;
}
.contacts__table-circle3 {
  top: 70%;
  right: 80%;
}
.contacts__table-circle4 {
  top: 20%;
  right: 70%;
  display: none;
}
.contacts__table-circle5 {
  top: 40%;
  right: 2%;
  display: none;
}
.contacts__table-circle6 {
  top: 85%;
  right: 20%;
  display: none;
}
.contacts__table-circle7 {
  top: 0;
  right: 95%;
  display: none;
}
.contacts__table-circle8 {
  top: 87.5%;
  right: 97.5%;
  display: none;
}
.contacts__table-circle9 {
  top: 7.5%;
  right: 0;
  display: none;
}
.contacts__table-circle10 {
  top: 5%;
  right: 45%;
  display: none;
}
.contacts__table-circle11 {
  top: 45%;
  right: 85%;
  display: none;
}
.contacts__table-circle12 {
  top: 75%;
  right: 45%;
  display: none;
}
.contacts__table-circle13 {
  top: 50%;
  right: 15%;
  display: none;
}

/* Footer classes */
.contacts__footer {
  position: relative;
  background-color: black;
  height: 140px;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 1;
}
.contacts__footer-credits {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 0;
  margin: 0;
}
.contacts__footer-icons_border {
  width: 42px;
}

/* Media query */
/* Phones */
@media only screen and (min-width: 220px) and (max-width: 319px) {
  * {
    font-size: 0.7rem !important;
  }
  .contacts__header {
    height: 40px;
    max-height: 40px;
    padding: 0 !important;
  }
  .contacts__header-icon_container {
    width: 1.5rem;
  }
  .contacts__header-darkmode {
    font-size: 0.9rem !important;
  }
  .contacts__header-lightmode {
    font-size: 1.5rem !important;
  }
  .contacts__header-title_container {
    width: 75% !important;
  }
  .contacts__header-title {
    font-size: 1rem !important;
    padding-left: 0.5rem !important;
  }
  .contacts__navbar-menu {
    transform: scale(0.6, 0.7);
    right: -44px;
    top: -1px;
  }
  .contacts__navbar-menu_icons {
    height: 16px;
    width: 16px;
  }
  .contacts__navbar-menu_placeholder {
    font-size: 1.1rem !important;
    letter-spacing: 0.15rem;
  }
  .contacts__navbar-menu_input {
    font-size: 1.5rem !important;
  }
  .contacts__navbar-menu_button-animation {
    transform: scale(0.995, 0.945);
  }
  .contacts__table {
    padding: 1rem 0.5rem 0.15rem 0.5rem;
  }
  .contacts__table-data_pos {
    min-width: 0.3rem !important;
    width: 0.3rem !important;
    max-width: 0.3rem !important;
    padding-left: 0.3rem !important;
    padding-right: 0 !important;
  }
  .contacts__table-data_name {
    min-width: 6.5rem;
    width: 6.5rem;
    max-width: 6.5rem;
    padding-left: 0.75rem !important;
  }
  .contacts__table-data_number {
    min-width: 5rem !important;
    width: 5rem !important;
    max-width: 5rem !important;
  }
  .contacts__table-data_btns {
    min-width: 3.5rem !important;
    width: 3.5rem !important;
    max-width: 3.5rem !important;
  }
  .contacts__table-data_ID {
    display: none;
  }
  .contacts__table-data_editable {
    max-width: 95%;
  }
  .contacts__table-deletebtn,
  .contacts__table-updatebtn,
  .contacts__table-wabtn,
  .contacts__table-checkbtn {
    font-size: 1.25rem;
    padding: 0.1rem 0.2rem 0 0.2rem;
    margin: 0 0.1rem;
    border-radius: 50%;
  }
  .contacts__table-circle1,
  .contacts__table-circle2,
  .contacts__table-circle3 {
    height: 6rem;
    width: 6rem;
  }
  .contacts__table-circle1 {
    right: 0;
  }
  .contacts__footer {
    height: 62px;
    max-height: 62px;
  }
  .contacts__footer-icons_container {
    padding-top: 0.5rem !important;
  }
  .contacts__footer-icons {
    transform: scale(0.8);
    margin-bottom: 0 !important;
    margin-top: 0 !important;
  }
  .contacts__footer-icons_border {
    width: 26px;
  }
  .contacts__footer-credits {
    font-size: 0.9rem !important;
    padding-top: 0.55rem !important;
    padding-bottom: 0.15rem !important;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  * {
    font-size: 0.75rem !important;
  }
  .contacts__header {
    height: 50px;
    max-height: 50px;
    padding: 0 !important;
  }
  .contacts__header-icon_container {
    width: 1.3rem;
  }
  .contacts__header-darkmode {
    font-size: 0.8rem !important;
  }
  .contacts__header-lightmode {
    font-size: 1.3rem !important;
  }
  .contacts__header-title_container {
    width: 75% !important;
  }
  .contacts__header-title {
    font-size: 0.9rem !important;
    padding-left: 0.5rem !important;
  }
  .contacts__navbar-menu {
    transform: scale(0.7);
    right: -32px;
    top: 5px;
  }
  .contacts__navbar-menu_icons {
    height: 16px;
    width: 16px;
  }
  .contacts__navbar-menu_placeholder {
    font-size: 1.2rem !important;
    letter-spacing: 0.1rem;
  }
  .contacts__navbar-menu_input {
    font-size: 1.5rem !important;
  }
  .contacts__navbar-menu_button-animation {
    transform: scale(0.995, 0.945);
  }
  .contacts__table {
    padding: 1rem 0.75rem 0.15rem 0.75rem;
  }
  .contacts__table-data_pos {
    min-width: 0.3rem !important;
    width: 0.3rem !important;
    max-width: 0.3rem !important;
    padding-left: 0.3rem !important;
    padding-right: 0 !important;
  }
  .contacts__table-data_name {
    min-width: 6.5rem;
    width: 6.5rem;
    max-width: 6.5rem;
    padding-left: 0.75rem !important;
  }
  .contacts__table-data_number {
    min-width: 4rem !important;
    width: 4rem !important;
    max-width: 4rem !important;
  }
  .contacts__table-data_btns {
    min-width: 3rem !important;
    width: 3rem !important;
    max-width: 3rem !important;
  }
  .contacts__table-data_ID {
    display: none;
  }
  .contacts__table-data_editable {
    max-width: 95%;
  }
  .contacts__table-deletebtn,
  .contacts__table-updatebtn,
  .contacts__table-wabtn,
  .contacts__table-checkbtn {
    padding: 0 0.2rem 0 0.2rem;
    margin: 0 0.1rem;
    border-radius: 50%;
  }
  .contacts__table-circle1,
  .contacts__table-circle2,
  .contacts__table-circle3 {
    height: 7.5rem;
    width: 7.5rem;
  }
  .contacts__table-circle1 {
    right: 0;
  }
  .contacts__footer {
    height: 60px;
    max-height: 60px;
  }
  .contacts__footer-icons_container {
    padding-top: 0.5rem !important;
  }
  .contacts__footer-icons {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    transform: scale(0.7);
  }
  .contacts__footer-icons_border {
    width: 30px;
  }
  .contacts__footer-credits {
    font-size: 0.9rem !important;
    padding-top: 0.15rem !important;
    padding-bottom: 0.05rem !important;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .contacts__header {
    height: 65px;
    max-height: 65px;
    padding: 0 !important;
  }
  .contacts__header-title_container {
    width: 70% !important;
  }
  .contacts__navbar-menu {
    top: 37px;
  }
  .contacts__table-container {
    padding: 0;
  }
  .contacts__table {
    padding: 1rem 0.75rem 0.15rem 0.75rem;
  }
  .contacts__table-data_pos {
    min-width: 0.3rem !important;
    width: 0.3rem !important;
    max-width: 0.3rem !important;
    padding-left: 0.3rem !important;
    padding-right: 0 !important;
  }
  .contacts__table-data_name {
    min-width: 6.5rem;
    width: 6.5rem;
    max-width: 6.5rem;
    padding-left: 0.75rem !important;
  }
  .contacts__table-data_number {
    min-width: 3.25rem !important;
    width: 3.25rem !important;
    max-width: 3.25rem !important;
  }
  .contacts__table-data_btns {
    min-width: 3rem !important;
    width: 3rem !important;
    max-width: 3rem !important;
  }
  .contacts__table-data_ID {
    display: none;
  }
  .contacts__table-circle1,
  .contacts__table-circle2,
  .contacts__table-circle3 {
    height: 8rem;
    width: 8rem;
  }
  .contacts__table-circle1 {
    right: 0;
  }
  .contacts__table-circle3 {
    right: 90%;
  }
  .contacts__footer {
    height: 105px;
    max-height: 105px;
  }
  .contacts__footer-icons_container {
    padding-top: 0.5rem !important;
  }
  .contacts__footer-icons {
    margin-bottom: 0 !important;
    margin-top: 0.4rem !important;
    transform: scale(0.9);
  }
  .contacts__footer-credits {
    font-size: 1.2rem !important;
    padding-top: 0.25rem !important;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .contacts__header {
    height: 75px;
    max-height: 75px;
  }
  .contacts__header-title_container {
    width: 50% !important;
  }
  .contacts__table-container {
    padding: 0;
  }
  .contacts__table-data_pos {
    min-width: 0.3rem !important;
    width: 0.3rem !important;
    max-width: 0.3rem !important;
    padding-left: 0.3rem !important;
    padding-right: 0 !important;
  }
  .contacts__table-data_name {
    min-width: 6.5rem;
    width: 6.5rem;
    max-width: 6.5rem;
    padding-left: 0.75rem !important;
  }
  .contacts__table-data_number {
    min-width: 3.25rem !important;
    width: 3.25rem !important;
    max-width: 3.25rem !important;
  }
  .contacts__table-data_btns {
    min-width: 3rem !important;
    width: 3rem !important;
    max-width: 3rem !important;
  }
  .contacts__table-data_ID {
    display: none;
  }
  .contacts__table-circle1,
  .contacts__table-circle2,
  .contacts__table-circle3 {
    height: 10rem;
    width: 10rem;
  }
  .contacts__table-circle1 {
    right: 0;
  }
  .contacts__table-circle3 {
    right: 90%;
  }
  .contacts__footer {
    height: 130px;
    max-height: 130px;
  }
  .contacts__footer-icons {
    margin-bottom: 0 !important;
  }
  .contacts__footer-credits {
    font-size: 1.4rem !important;
  }
}

/* Monitors */
@media only screen and (min-width: 1025px) and (max-width: 1279px) {
  .contacts__table-data_number {
    min-width: 10rem !important;
    width: 10rem !important;
    max-width: 10rem !important;
  }
  .contacts__table-data_btns {
    min-width: 8.5rem !important;
    width: 8.5rem !important;
    max-width: 8.5rem !important;
  }
  .contacts__table-circle1,
  .contacts__table-circle2,
  .contacts__table-circle3 {
    height: 10rem;
    width: 10rem;
  }
  .contacts__table-circle1 {
    right: 0;
  }
  .contacts__table-circle3 {
    right: 90%;
  }
}

/* HD 1280 x 720 */
@media only screen and (min-width: 1280px) and (max-width: 1919px) {
  .contacts__table-data_ID {
    min-width: 4rem !important;
    width: 4rem !important;
    max-width: 4rem !important;
  }
  .contacts__table-data_number {
    min-width: 8rem !important;
    width: 8rem !important;
    max-width: 8rem !important;
  }
  .contacts__table-data_btns {
    min-width: 7.5rem !important;
    width: 7.5rem !important;
    max-width: 7.5rem !important;
  }
  .contacts__table-circle1,
  .contacts__table-circle2,
  .contacts__table-circle3 {
    height: 10rem;
    width: 10rem;
  }
  .contacts__table-circle1 {
    right: 5%;
  }
  .contacts__table-circle3 {
    right: 90%;
  }
}

/* FHD 1920 x 1080 */
@media only screen and (min-width: 1920px) and (max-width: 2559px) {
  .contacts__table-data_ID {
    min-width: 3.5rem !important;
    width: 3.5rem !important;
    max-width: 3.5rem !important;
  }
  .contacts__table-data_number {
    min-width: 5rem !important;
    width: 5rem !important;
    max-width: 5rem !important;
  }
  .contacts__table-data_btns {
    min-width: 5rem !important;
    width: 5rem !important;
    max-width: 5rem !important;
  }
}

/* 2K 2560 x 1440 */
@media only screen and (min-width: 2560px) and (max-width: 3839px) {
  .contacts__table-data_ID {
    min-width: 3rem !important;
    width: 3rem !important;
    max-width: 3rem !important;
  }
  .contacts__table-data_number {
    min-width: 5rem !important;
    width: 5rem !important;
    max-width: 5rem !important;
  }
  .contacts__table-data_btns {
    min-width: 5rem !important;
    width: 5rem !important;
    max-width: 5rem !important;
  }
  .contacts__table-circle1 {
    right: 15%;
  }
  .contacts__table-circle2 {
    top: 55%;
    right: 40%;
  }
  .contacts__table-circle3 {
    right: 80%;
  }
  .contacts__table-circle4 {
    display: inline;
  }
  .contacts__table-circle5 {
    display: inline;
  }
  .contacts__table-circle6 {
    display: inline;
  }
  .contacts__table-circle7 {
    display: inline;
  }
}

/* 4K 3840 x 2160 */
@media only screen and (min-width: 3840px) and (max-width: 7679px) {
  .contacts__table-data_ID {
    min-width: 3rem !important;
    width: 3rem !important;
    max-width: 3rem !important;
  }
  .contacts__table-data_number {
    min-width: 5rem !important;
    width: 5rem !important;
    max-width: 5rem !important;
  }
  .contacts__table-data_btns {
    min-width: 5rem !important;
    width: 5rem !important;
    max-width: 5rem !important;
  }
  .contacts__table-circle1 {
    right: 25%;
  }
  .contacts__table-circle2 {
    right: 40%;
  }
  .contacts__table-circle3 {
    right: 65%;
  }
  .contacts__table-circle4 {
    display: inline;
  }
  .contacts__table-circle5 {
    display: inline;
  }
  .contacts__table-circle6 {
    display: inline;
  }
  .contacts__table-circle7 {
    display: inline;
  }
  .contacts__table-circle8 {
    display: inline;
  }
}

/* 8K 7680 x 4320 */
@media only screen and (min-width: 7680px) {
  .contacts__table-data_ID {
    min-width: 3.5rem !important;
    width: 3.5rem !important;
    max-width: 3.5rem !important;
  }
  .contacts__table-data_number {
    min-width: 6.5rem !important;
    width: 6.5rem !important;
    max-width: 6.5rem !important;
  }
  .contacts__table-data_btns {
    min-width: 5rem !important;
    width: 5rem !important;
    max-width: 5rem !important;
  }
  .contacts__table-circle1 {
    right: 25%;
  }
  .contacts__table-circle2 {
    right: 40%;
  }
  .contacts__table-circle3 {
    right: 70%;
  }
  .contacts__table-circle4 {
    display: inline;
  }
  .contacts__table-circle5 {
    top: 50%;
    right: 7.5%;
    display: inline;
  }
  .contacts__table-circle6 {
    display: inline;
  }
  .contacts__table-circle7 {
    display: inline;
  }
  .contacts__table-circle8 {
    display: inline;
  }
  .contacts__table-circle9 {
    display: inline;
  }
  .contacts__table-circle10 {
    display: inline;
  }
  .contacts__table-circle11 {
    display: inline;
  }
  .contacts__table-circle12 {
    display: inline;
  }
}
